extends layout

block content
  h2 Thanks for answering!

  if answers
     ul
       each answer in Object.keys(answers)
         unless (answer.charAt(0) == '_')
           li #{answer}: #{answers[answer]}
  else
     p Did not get answers