extends layout

block content
  h2 Thanks for answering!

  if answers
     p Porn: #{answers.porn}
     ul
       each answer in Object.keys(answers)
         li #{answer}: #{answers[answer]}
  else
     p Did not get answers