extends layout

block content
  h1 LivePure
  p.lead Helping Christians overcome addictions
  hr
  .row
    .col-sm-6
      h2 Holiness
      p It's what we all want yet our flesh holds us back. LivePure can't make you holy, but we can help you change.
      p

    .col-sm-6
      h2 Existing accountability partner
      p LivePure is designed to help you in your relationship with God and your existing accountability partner. LivePure does *not* replace a human accountability partner.
      p

    .col-sm-6
      h2 Confidential
      p LivePure prevents sensitive information from showing up in your emails.
      p

    .col-sm-6
      h2 Open
      p Have a partner but don't feel like you are very open with them? LivePure can help.
      p

