extends layout

block content
  h2 Questions
  if user
    p #{user.profile.name}
  else
    p This would show my name
  form.form-horizontal(role='form', method='POST')
    ol
      li Did you look at porn yesterday?
        input(type="radio", name="porn", value="1")
        | No
        input(type="radio", name="porn", value="1")
        | Maybe
        input(type="radio", name="porn", value="1")
        | Yes
      li Did you masterbate yesterday?
        input(type="radio", name="masterbate", value="1")
        | No
        input(type="radio", name="masterbate", value="1")
        | Maybe
        input(type="radio", name="masterbate", value="1")
        | Yes
      li Did you work on memorizing yesterday?
        input(type="radio", name="memorize", value="1")
        | No
        input(type="radio", name="memorize", value="1")
        | Maybe
        input(type="radio", name="memorize", value="1")
        | Yes
