extends layout

block content
  h2 Questions
  if user
    p #{user.profile.name}
  else
    p This would show my name
  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    ol
      li Did you look at porn yesterday?
        input(type="radio", name="porn", value="no")
        | No
        input(type="radio", name="porn", value="maybe")
        | Maybe
        input(type="radio", name="porn", value="yes")
        | Yes
      li Did you masterbate yesterday?
        input(type="radio", name="masterbate", value="no")
        | No
        input(type="radio", name="masterbate", value="maybe")
        | Maybe
        input(type="radio", name="masterbate", value="yes")
        | Yes
      li Did you work on memorizing yesterday?
        input(type="radio", name="memorize", value="no")
        | No
        input(type="radio", name="memorize", value="maybe")
        | Maybe
        input(type="radio", name="memorize", value="yes")
        | Yes
    button.btn.btn-primary(type='submit')
      span.ion-paper-airplane
      | Send
