extends layout

block content
 h2 Questions
  ol
    li Did you look at porn yesterday?
      a.btn.btn-default(href='#', role='button') No
      a.btn.btn-default(href='#', role='button') Maybe
      a.btn.btn-default(href='#', role='button') Yes
    li Did you masterbate yesterday?
      a.btn.btn-default(href='#', role='button') No
      a.btn.btn-default(href='#', role='button') Maybe
      a.btn.btn-default(href='#', role='button') Yes
    li Did you work on memorizing yesterday?
      a.btn.btn-default(href='#', role='button') No
      a.btn.btn-default(href='#', role='button') Maybe
      a.btn.btn-default(href='#', role='button') Yes                                                   

